{% extends "base/base.html" %}
{% block title %}Log-in{% endblock %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/failed_pay.css' %}">
{% endblock %}
{% block content %}
<div class="main-body">
    <p class="main-pay">Ошибка оплаты</p><br>
    <img class="goose-money" alt="" src="{% static 'img/goose/goose_failed.png' %}">
    <span class="numbert-text">Номер транзакции: <span class="span">{{ number }} </span></span>
    <span class="time-text">Дата и время: <span class="span" id="transactionDate"></span> </span>
    <span class="status-text">Статус: <span class="receipt-value text-danger">Ошибка</span> </span>
</div>

{% endblock %}

{% block extra_js %}
    <script charset="utf-8" type="text/javascript" src="{% static 'js/status_payment.js' %}"></script>
{% endblock %}