.main-body {
    width: 100%;
    position: relative;
    background-color: #f2eee5;
    height: 1080px;
    font-family: Inter;
}
.main-pay {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    color: #f79a23;
}
.goose-money {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}
.numbert-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
.time-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
.status-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
.span {
    color: #f79a23;
}
body{
    background-color: #F2EEE5;
    margin: 0;
    padding: 0;
}