.account-circle-icon {
    position: absolute;
    top: 65%;
    left: 96.5%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.settings-icon {
    position: absolute;
    top: 8%;
    left: 91.5%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
}
.award-icon {
    position: absolute;
    top: 8%;
    left: 86.5%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
}
.layers-icon {
    position: absolute;
    top: 8%;
    left: 81.5%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.logo-icon {
    position: absolute;
    top: 100px;
    left: 21px;
    width: 1px;
    height: 1px;
    object-fit: cover;
}
.main-body {
    width: 100%;
    position: relative;
    background-color: #f2eee5;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 28px;
    color: #1e1e1e;
    font-family: Inter;
}
.login-form {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(38, 38, 38, 0.14);
    width: 711px;
    height: 415px;
    }
.input-login {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 608px;
    height: 48px;
}
.main-login {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    color: #f79a23;
}
.login-text {
    position: absolute;
    top: 30px;
    left: 50px;
    font-weight: 600;
}
.input-password {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 608px;
    height: 48px;
}
.password-text {
    position: absolute;
    top: 170px;
    left: 50px;
    font-weight: 600;
}
.span {
    color: #f79a23;
}
.log-in-text {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    text-decoration: none;
}
.sing-in-button {
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f79a23;
    width: 242px;
    height: 56px;
    color: #f2eee5;
}

body{
    background-color: #F2EEE5;
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    background-color: #F2EEE5;
    z-index: 3;
    width: 100%;
    height: 100px;
}