{% extends "base/base.html" %}
{% block title %}Log-in{% endblock %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/subcribe.css' %}">
{% endblock %}

{% block content %}
    <div class="main-body">
        <div class="main-subcribe">Подписки</div>
        <form method="POST" class="period-form">
            <div class="about-subcribe"><span class="span"> Преимущества подписки</span><br>
                <span class="span">1. </span>Доступ к теории по всем заданиям<br><br>
                <span class="span">2. </span>Возможность выбирать время тренировки<br><br>
                <span class="span">3. </span>Доступ к просмотру ошибок в попытке<br><br>
                <span class="span">4. </span>Неограниченное количество сохраняемой статистики</div>
            <div class="period-data-form"></div>
        {% csrf_token %}
            <input class="radio-button-one-m" type="radio" name="period" id="one" value="month" checked>
            <label class="radio-button-one-m-text" for="one">Ежемесячно</label>
            <br>

            <input class="radio-button-three-m" type="radio" name="period" id="two" value="three_month">
            <label class="radio-button-three-m-text" for="two">3 месяца</label>
            <br>

            <input class="radio-button-year" type="radio" name="period" id="three" value="year">
            <label class="radio-button-year-text" for="three">Ежегодно</label>

            <p class="price-text" id="amount">Цена: </p>
            <input class="subcribe-button" type="submit" value="Перейти к оплате">
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script charset="utf-8" type="text/javascript" src="{% static 'js/choose_subscribe.js' %}"></script>
{% endblock %}