{% extends 'base/base.html' %}


{% block content %}
    <h1>{{ pagename }}</h1>
    <hr>

    <span id="compl" style="color: lightslategray;"></span>
    <span id="context_before" style="color: grey;"></span>
    <span id="next"></span>
    <span id="context_after" style="color: grey;"></span>

    <hr>
   {% if messages %}
       {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">{{ message }}</div>
       {% endfor %}
   {% endif %}

   <h1>
        {% if form.errors %}
            {{ form.errors }} <br>
        {% endif %}
    </h1>
{% endblock %}

<script charset="utf-8" type="text/javascript" src="js/training.js"></script>

