{% extends 'base/base.html' %} 

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/training.css" %}" />
{% endblock %} 

{% block content %}
<h1>{{ pagename }}</h1>

<br /><br />

<div class="container">
    <span id="timer">00:00:00</span>
    <button type="button" id="choose_time_button" onclick="change_time_end()">
        120
    </button>
</div>

<hr />
<div class="container">
    <span id="start">Press space to start</span>
    <span id="completed"></span>
    <span id="next" style="color: lightslategray"></span>
</div>
<br />

<hr />
{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}

<h1>
    {% if form.errors %} {{ form.errors }} <br />
    {% endif %}
</h1>
{% endblock %} {% block extra_js %}
    <script charset="utf-8" type="text/javascript" src="{% static 'js/training.js' %}"></script>
{% endblock %}
