.main-body {
    width: 100%;
    position: relative;
    background-color: #f2eee5;
    height: 1080px;
    font-family: Inter;
}
.main-data {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    color: #f79a23;
}
.card-form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(38, 38, 38, 0.14);
    width: 600px;
    height: 650px;
    font-weight: 600;
}
.card-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f79a23;
    width: 200px;
    height: 60px;
    color: #f2eee5;
    font-weight: 600;
}
.card-number-input {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 240px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
}
.card-name-input {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 240px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
}
.card-data-input {
    position: absolute;
    top: 320px;
    left: 38.5%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 100px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
}
.card-cvv-input {
    position: absolute;
    top: 440px;
    left: 35.2%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #f2eee5;
    width: 60px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
}
.card-number-text {
    position: absolute;
    top: 10px;
    left: 180px;
    font-weight: 600;
}
.card-name-text {
    position: absolute;
    top: 130px;
    left: 180px;
    font-weight: 600;
}
.card-data-text {
    position: absolute;
    top: 250px;
    left: 180px;
    font-weight: 600;
}
.card-cvv-text {
    position: absolute;
    top: 370px;
    left: 180px;
    font-weight: 600;
}
.card-sum-text {
    position: absolute;
    top: 510px;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
}
body{
    background-color: #F2EEE5;
    margin: 0;
    padding: 0;
}