.main-body {
    width: 100%;
    position: relative;
    background-color: #f2eee5;
    height: 1080px;
    font-family: Inter;
}
.table {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    width: 80%;
    height: 100px;
}
.th {
    background-color: #F2EEE5;
    color: #f79a23;
    width: 2000px;
    height: 50px;
    font-weight: 600;
    font-size: 28px;
    }
.tb {
    background-color: #F2EEE5;
    color: #262626;
    width: 2000px;
    height: 50px;
    font-weight: 600;
    font-size: 28px;
    }
.main-statistic {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    color: #f79a23;
}

.main-table {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 600;
    color: #f79a23;
}
.span {
    color: #f79a23;
}
body{
    background-color: #F2EEE5;
    margin: 0;
    padding: 0;
}
