/*



*/
body {
    overflow-x: hidden;
}


.container {
    display: flex;
    width: 100%; /* Ширина контейнера на весь экран */
    position: relative;
}
#completed {
    position: absolute;
    left: 50%; /* Сдвигаем влево на 50% ширины контейнера */
    transform: translateX(-100%); /* Сдвигаем влево на ширину элемента */
    white-space: pre; /* Запрещаем перенос текста */

}
#next {
    position: absolute;
    right: 50%; /* Сдвигаем вправо на 50% ширины контейнера */
    transform: translateX(100%); /* Сдвигаем вправо на ширину элемента */
    white-space: pre; /* Запрещаем перенос текста */
}

#start {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#choose_time_button {
    margin: auto;
}