{% extends 'base/base.html' %}


{% block content %}
    <h1>Авторизация</h1>
    <hr>

    <form method="POST">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Войти</button>
   </form>

   {% if messages %}
       {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">{{ message }}</div>
       {% endfor %}
   {% endif %}

   <h1>
        {% if form.errors %}
            {{ form.errors }} <br>
        {% endif %}
    </h1>
{% endblock %}

