{% load static %}
<nav>

    <header class="header">
    <a href="{% url 'index' %}"><img class="logo-icon" alt="" src="{% static 'img/login/Frame 2 1.png' %}"></a>
    <a class="keyboard-text" href="{% url 'task9' %}">тренировка</a>
    <a class="statistic-text" href="{% url 'statistics' %}">статистика</a>
    <a class="theory-text" href="{% url 'theory' %}">учебник</a>
    <a href="{% url 'theory' %}"><img class="layers-icon" alt="" src="{% static 'img/login/Layers.svg' %}"></a>
    <a href="{% url 'statistics' %}"><img class="award-icon" alt="" src="{% static 'img/login/Award.svg' %}"></a>
    <a href="{% url 'task9' %}"><img class="keyboard-icon" alt="" src="{% static 'img/login/keyboard.svg' %}"></a>






        {% block usermenu %}

                {% if request.user.is_authenticated %}
                <a class="profile-text" href="{% url 'profile' %}">профиль</a>
                <a href="{% url 'profile' %}"><img class="account-circle-icon" alt="" src="{% static 'img/login/account_circle.svg' %}" id="accountCircleIcon"></a>
                 {% else %}
                <a class="profile-text" href="{% url 'login' %}">профиль</a>
                <a href="{% url 'login' %}"><img class="account-circle-icon" alt="" src="{% static 'img/login/account_circle.svg' %}" id="accountCirclecon"></a>
                 {% endif %}


        {% endblock %}

    </header>

</nav>
