{% load static %}
<nav>

    <header class="header">
    <a href="{% url 'index' %}"><img class="logo-icon" alt="" src="{% static 'img/login/Frame 2 1.png' %}"></a>

    <a href="{% url 'theory' %}"><img class="layers-icon" alt="" src="{% static 'img/login/Layers.svg' %}"></a>
    <a href="{% url 'statistics' %}"><img class="award-icon" alt="" src="{% static 'img/login/Award.svg' %}"></a>
    <a href="{% url 'task9' %}"><img class="keyboard-icon" alt="" src="{% static 'img/login/keyboard.svg' %}"></a>


    <ul>
        {% block menu %}
            {% for item in menu %}
                <li>
                    <a href="{% url item.url_name %}">{{ item.name }}</a>
                </li>
            {% endfor %}
        {% endblock %}
    </ul>


    <ul>
        {% block usermenu %}

            <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}"><img class="account-circle-icon" alt="" src="{% static 'img/login/account_circle.svg' %}" id="accountCircleIcon"></a>
                 {% else %}
                <a href="{% url 'login' %}"><img class="account-circle-icon" alt="" src="{% static 'img/login/account_circle.svg' %}" id="accountCirclecon"></a>
                 {% endif %}

            </li>
        {% endblock %}
    </ul>
    </header>

</nav>
